/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Komikax;
    src: url(/fonts/KOMIKAX_.ttf);
}

.timeline-section .ant-card-head {
    display: none !important;
}